{% extends "base.html" %}

{% block main %}
<div id="header">
    <header id="head">
        <img id='profilepic' src="{{ url_for('static', filename='./profilepic.png') }}"/> 
        <h1>{{name}}</h1> 
        <p>@{{username}} <br>
            Kingston, Jamaica<br>
            Joined {{ date }}
        </p>
    </header>
</div>
<div id="aboutblock">
    <div id="bio">
        <p>Just learning some basic web developement. Not my main interest but could be fun.
        </p>
        <div id=counters>
            <div id="values"> 
                <ul>
                    <li id="numpost"> 13</li>  
                    <li id="numfollowing"> 41 </li> 
                    <li id="numfollowers"> &nbsp; &nbsp; 235</li>
                </ul>
            </div>
            <div id="varibles">
                <ul>
                    <li> Posts</li>  
                    <li> Following </li> 
                    <li>Followers</li>
                </ul>
                    
            </div>
            
         </div>
        
        <div id="btn">
            <button> Follow</button>
        </div>
    </div>
</div>

{% endblock %}